{% extends "master.html.twig" %}

{% block title %}New Equipment{% endblock %}

{% block content %}

    <p>Equipment added successfully. <a href="/">Click to continue</a>. </p>

{% endblock content %}