{% extends "master.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="/styles/equip_style.css" />{% endblock stylesheet%}
{% block title %}<title>Equipment</title>{% endblock %}

{% block content %}
<div class='container back p-5'>
    {% for e in equipList %}
    <div class="card_wrapper">
        <div class="card mx-auto mt-3 mb-3 "> <img class='mx-auto img-thumbnail m-3 card_image' src="/uploads/{{e.photo}}" width="auto" height="auto" />
            <div class="card-body text-center">
                <div >
                    <h5 class="card-title font-weight-bold">{{e.equipName}}</h5>
                    <p class="d-flex justify-content-center"> <a href="#" class="btn details px-auto mr-2">view details</a> <a href="#" class="btn cart px-auto ml-2">ADD TO CART</a></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}