{% extends "master.html.twig" %}

{% block title %}
    Not found - 404
{% endblock title %}

{% block content %}
    <div class="d-flex flex-column container">
        <h1>Not found - 404</h1>
        <p>We can't find what you're looking for.
            <a href="/">Click here</a> to continue
        </p>
        <img src="/images/image_404.jpg" >
    </div>
{% endblock content %}

