{% extends "master.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="/styles/productlines.css" />{% endblock stylesheet%}

{% block title %}Welcome to Ski Rentals{% endblock %}

{% block content %}
    <div class='container back p-5'>
            <a class="nav-link" href="/category/Ski Boots" btn>
                <div class="card_wrapper">
                    <div class="card mx-auto mt-3 mb-3 "> <img class='img-thumbnail m-3 card_image' src="/images/Men-boot-scott.jpg" />
                        <div class="card-body text-center">
                            <div >
                                <p class="card-title font-weight-bold">Ski Boots</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="nav-link" href="/category/Goggles" btn>
                <div class="card_wrapper">
                    <div class="card mx-auto mt-3 mb-3 "> <img class='img-thumbnail m-3 card_image' src="/images/Kids-ski-race.jpg" />
                        <div class="card-body text-center">
                            <div >
                                <p class="card-title font-weight-bold">Goggles</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="nav-link" href="/category/Ski Bindings" btn>
                <div class="card_wrapper">
                    <div class="card mx-auto mt-3 mb-3 "> <img class='img-thumbnail m-3 card_image' src="/images/Men-ski-westcoast.jpg" />
                        <div class="card-body text-center">
                            <div >
                                <p class="card-title font-weight-bold">Ski Bindings</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        <a class="nav-link" href="/category/Helmet" btn>
            <div class="card_wrapper">
                <div class="card mx-auto mt-3 mb-3 "> <img class='img-thumbnail m-3 card_image' src="/images/Kids-helmet.jpg" />
                    <div class="card-body text-center">
                        <div >
                            <p class="card-title font-weight-bold">Helmet</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a class="nav-link" href="/category/Snowboard Boots" btn>
            <div class="card_wrapper">
                <div class="card mx-auto mt-3 mb-3 "> <img class='img-thumbnail m-3 card_image' src="/images/Women-boot-atomic.jpg" />
                    <div class="card-body text-center">
                        <div >
                            <p class="card-title font-weight-bold">Snowboard Boots</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a class="nav-link" href="/category/SnowBoard Bindings" btn>
            <div class="card_wrapper">
                <div class="card mx-auto mt-3 mb-3 "> <img class='img-thumbnail m-3 card_image' src="/images/Men-ski-alpine.jpg" />
                    <div class="card-body text-center">
                        <div >
                            <p class="card-title font-weight-bold">SnowBoard Bindings</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endblock content %}