{% extends "master.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="/styles/addequip_style.css" />{% endblock stylesheet %}

{% block title %}
    Login to Ski Rentals
{% endblock title %}

{% block content %}
    <div class="py-5 container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="/images/skiing-solid.svg" alt="image"/>
                    <h3>Login</h3>
                    <p>Login with your email or username and password</p>
                </div>
            </div>
            <form method="POST" class="col-md-9">
                {% if errors %}  
                        {% for e in errors %}
                        <p class="form-control is-invalid text-white bg-danger">{{ e }}</p>
                        {% endfor %} 
                {% endif %}
                <div class="form-group">
                    <label for="loginEmail">Email address or User name</label>
                    <input name="emailOrUsername" type="text" class="form-control" id="loginEmail" placeholder="Email Or Username">
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input name="password" type="password" class="form-control" id="loginPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-info" href="/register">New around here? Sign up</a>
            <a class="dropdown-item text-info" href="/passreset_request">Forgot password?</a>
        </div>
    </div>

{% endblock content %}