{% extends "master.html.twig" %}

{% block stylesheet %}<link rel="stylesheet" href="/styles/addequip_style.css" />{% endblock stylesheet%}

{% block title %}
    Password reset request
{% endblock title %}

{% block content %}
    <div class="py-5 container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="/images/skiing-solid.svg" alt="image"/>
                    <h3>Reset Password</h3>
                    <p>Please provide the email of your registered user</p>
                </div>
            </div>
            <form method="POST" autocomplete="off" class="col-md-9" >
                <div class="form-group">
                    <label for="passwordRestEmail">Email address</label>
                    <input name="email" type="email" class="form-control" id="passwordRestEmail" placeholder="email@example.com">
                </div>
                <button type="submit" class="btn btn-primary">Send password reset email</button>
            </form>
        </div>
    </div>

{% endblock content %}