{% extends "master.html.twig" %}

{% block title %}
    Password reset request
{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
    <form method="POST" autocomplete="off">
        <div class="formInput">
            <label>Email</label>
            <input type="text" name="email" />
        </div>
        <div class="buttonDiv">
            <button type="submit">Send password reset email</button>
        </div>
    </form>
{% endblock content %}