{% extends "master.html.twig" %}

{% block title %}
    Password reset successful
{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
        Password reset successful.<br>
            <a href="/">Click to continue</a>
{% endblock content %}