{% extends "master.html.twig" %}

{% block title %}
    Login page
{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
        Password reset has been sent (if an account with this email exists). Check your email in a moment.<br>
            <a href="/">Click to continue</a>
{% endblock content %}