{% extends "master.html.twig" %}

{% block head %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/addequip_style.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
{% endblock %}

{% block title %}
    Password reset request
{% endblock title %}

{% block content %}
    <div class="py-5 container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="/images/skiing-solid.svg" alt="image"/>
                    <h3>Reset Password</h3>
                    <p>Please provide the email of your registered user</p>
                </div>
            </div>
            <form method="POST" autocomplete="off" class="col-md-9" >
                <div class="form-group">
                    <label for="passwordRestEmail">Email address</label>
                    <input name="email" type="email" class="form-control" id="passwordRestEmail" placeholder="email@example.com">
                </div>
                <button type="submit" class="btn btn-primary">Send password reset email</button>
            </form>
        </div>
    </div>

{% endblock content %}