{% extends "master.html.twig" %}
{% block stylesheet %}<link rel="stylesheet" href="/styles/addequip_style.css" />{% endblock stylesheet%}

{% block title %}
    Password reset 
{% endblock title %}

{% block content %}

<div class="py-5 container">
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <img src="/images/skiing-solid.svg" alt="image"/>
                <h3>Reset Password</h3>
                <p>Please input new password and confirm</p>
            </div>
        </div>
        <form method="POST" class="col-md-9">
            {% if errors %}
                <ul class="errorList">
                    {% for e in errors %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="col-md-6 mb-3">
                <label for="inputPassword">Password</label>
                <input name="pass1" type="password" class="form-control" id="inputPassword" placeholder="Password" required>
                <div class="invalid-feedback d-none">
                    Password invalid
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="confirmPassword">Confirm Password</label>
                <input name="pass2" type="password" class="form-control" id="confirmPassword" placeholder="Password" required>
                <div class="invalid-feedback d-none">
                    Password not match
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
